{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}

{% block page_title %}
    PERFORMANCE APPRAISALS
{% endblock page_title %}

{% block content %}

<div class="container-fluid">
                   
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Performance Appraisal Waiting Confirmations</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Month Year</th>                                            
                        </tr>
                    </thead>
                    <tbody>
                    {% for competence in competences %}

                        <tr>
                            <td>
                                {% comment %} Still working on it {% endcomment %}
                                <a class="link-primary" href= "{% url 'staff:detail' competence.id %}">{{competence}}</a> {% comment %}view.kwargs.pk {%comment%}
                                {% comment %} <a class="link-primary" href= "/users/{{competence.id}}">{{competence}}</a> {% endcomment %}
                
                            </td>
                            <td>{{ competence.submitted_on|date:"F Y" }} (<i>{{ competence.submitted_on|naturaltime }})</i></td>
                        </tr>
                    
                    {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}