{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}
    SECTION E: COMMENTS, RECOMMENDATIONS (IF ANY) AND SIGNATURES
{% endblock page_title %}

{% block content %}

<!-- Collapsable Card Example -->

<div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">Update Your Comments Before the Supervisor Signs</h4>
</div>
<form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="card-body">
        {% for a in form.visible_fields %}
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">{{a.label_tag}}</div>
            <div class="col-sm-10">
                {{ a|add_class:"form-control" }}
                <br> {{ a.help_text }}
            </div>
            {% if a.errors %}
            {% for error in a.errors %}
            <span class="text-danger">{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>
            {% endfor %}        
    </div>
    <div class="card-footer">
    <button type="submit" class="btn btn-info">Update Your Comments from here and Terminate</button>
    </div>
    {% comment %} {{ form }} {% endcomment %}
</form>
{% endblock content %}