{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}
    SECTION C: ASSESSMENT OF CORE COMPETENCIES
{% endblock page_title %}

{% block content %}

<!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h4 class="m-0 font-weight-bold text-primary">Guidance on this Section</h4>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                This section should be filled by the Appraiser after joint discussions between him/her and the 
                Appraisee. The assessment will help establish any areas where some training or development is 
                necessary. The Appraisee should be rated only in areas, which are relevant to his/her job.
                The maximum points per competence are <strong>5, which represents Excellent, 4-very Good, 3-Good, 2-Fair,
                1-Poor, Choose Only Applicable.</strong>
                <br>
                The Appraiser should give work related examples under comments, to justify their rating.
                functionality.
                <br>
                <br>
                <strong>Click on the header</strong> to collapse (after understanding how to fill the table below)
                or expand the Body (to get more clarification)
            </div>            
    </div>
    <div class="card shadow mb-4o">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold text-primary">Fill this first form</h4>
        </div>
        
        <form class="form-horizontal" action='{% url 'staff:comp' %}' method="POST">
         {% csrf_token %} 
          <div class="card-body">
          {% for f in form.visible_fields %}
            <div class="form-group row">
            <div class="col-sm-2 col-form-label">{{ f.label_tag }}</div>
            <div class="col-sm-10">
          {{ f|add_class:"form-control" }}
           <br> {{ f.help_text }}
           </div>
          {% if f.errors %}
          {% for error in f.errors %}
           <span class="text-danger">{{error}}</span>
          {% endfor %}
          {% endif %}
            </div>
          {% endfor %}


          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">Submit Your Comments and proceed</button>
            {% comment %} <button type="submit" class="btn btn-info">Save</button> {% endcomment %}
          </div>
          <!-- /.card-footer -->
        </form>
    </div>


{% endblock content %}